{
  "presets": [
    [
      "env",
      {
        "targets": {
          "chrome": "current",
          "node": "current"
        }
      }
    ],
    "stage-0",
    "react",
    "react-native"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-react-jsx"
  ]
}